@include keyframes(eggWiggle) {
	0% {
		-webkit-transform: rotate(0deg);
	}
	94%{
		-webkit-transform: rotate(0deg);
	}
	96% {
		-webkit-transform: rotate(-10deg);
	}

	98% {
		-webkit-transform: rotate(10deg);
	}

	100%{
		-webkit-transform: rotate(0deg);
	}
}