@mixin animation($name, $duration, $ease, $delay, $iteration: 1, $direction: both) {
  -webkit-animation: $name $duration $ease $delay $iteration $direction;
  -moz-animation: $name $duration $ease $delay $iteration $direction;
  -o-animation: $name $duration $ease $delay $iteration $direction;
  -ms-animation: $name $duration $ease $delay $iteration $direction;
  animation: $name $duration $ease $delay $iteration $direction;
}
 
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}