h1 {
	font-family: $lato;
	font-weight: 300;
	font-size: 5em;
}
h2{
	font-family: $lobster;
	color: $pink;
}
p{
	font-family: $lato;

}
.userName {
	font-size: 2em;
	font-family: $lato;
	color: $pink;
	margin-bottom: 0px;
	margin-top: .6em;


}
.screenName {
	font-size:1.6em;
	font-family: $lato;
	color:#666;

	margin-top: 1em;

}